
@{
    ViewBag.Title = "Order Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <h2>ORDER SUCCESS</h2>
    <h4>The product will be shipped as soon as possible!</h4>
    <a class="btn btn-success" href="@Url.Action("Index","Home")">Keep Shopping</a>
</body>


