@{
    ViewBag.Title = "Home Page";


}

<div class="container">
    @foreach (var item in Model)
    {
        <div class="col-xs-12 col-md-6">

            <!-- First product box start here-->
            <div class="prod-info-main prod-wrap clearfix">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        @{
                            var base64 = Convert.ToBase64String(item.pd_image);
                            var imgsrc = string.Format("data:image/png;base64, {0}", base64);
                        }
                        <div class="product-image">
                            <img src="@imgsrc" class="img-responsive">
                        </div>

                    </div>

                    <div class="col-md-7 col-sm-12 col-xs-12">

                        <div class="product-deatil">

                            <h5 class="name">
                                <a href="#">
                                    @item.pd_name
                                </a>

                            </h5>

                            <p class="price-container">Price: 

                                <span>@item.pd_price $</span>

                            </p>

                            <span class="tag1"></span>

                        </div>

                        <div class="description">

                            <p style="font-size: 20px;">@item.pd_detail</p>

                        </div>

                        <div class="description">

                        </div>

                        <div class="product-info smart-form">

                            <div class="row">

                                <div class="col-md-12">

                                    <a href="/ShoppingCart/AddToCart/@item.pd_id" class="btn btn-danger">Add to Cart</a>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
            
            <!-- end product -->
        </div>
                            }
    </div>

